
#map {
   height: 180px;
   } 


  

.App{
  background-color: burlywood;
  margin: 20px;
}

.boton {
  background-color: rgb(141, 172, 174);
  color:white;
  text-decoration: none;
  margin-bottom: 2px;
  }
.barrafiltro {
  margin: 5px;
  border-radius: 3px;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
